.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#board {
  border-collapse: collapse;
  font-family: monospace;
  align-content: center
}

#winner {
  margin-top: 25px;
  width: 168px;
  text-align: center;
  font-size: 25px;
  color: rgb(32, 31, 31);
}
.playerView{
  align-content: center;
}
.playerHand{
  display: flex;
  justify-content: center;
}
.handCard{
  height:200px;
  width: 160px;
  background: white;
  font-size: 25px;
  margin: 3px;
  border: solid black 2px;
  border-radius: 5px;
  display:flex;
  justify-content: center;
}
.cardVal{
  align-self: center;
}
.playerControls{
  flex: none;
}
td {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  color: #555;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 3px solid #aaa;
  background: #fff;
}

td.active {
  background: #eeffe9;
}


td.available {
  cursor: pointer;
  background: green;
}
td.available:hover {
  background: #eeffff;
}
td.disabled {
  background: red;
}
td.plyrClr0 {
  background: lightblue
}
td.plyrClr1 {
  background: lightslategray
}
span.plyrClr0 {
  background-color: orangered
}
span.plyrClr1 {
  background-color: rgb(155, 68, 236)
}

.runner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.runner .run {
  text-align: center;
}

/* 
.formAddEdit,  input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px ;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.formAddEdit,  input[list=players], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.formAddEdit, form{
  width: 80%;
  background-color: #3E766B;
}

.formAddEdit, input[type=submit] {
  width: 50%;
  background-color: #A1BC91;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid slategray;
  border-radius: 4px;
  cursor: pointer;
}

.formAddEdit, input[type=submit]:hover {
  background-color: #3E766B;
}

.formAddEdit p {
  background-color: #3E766B
} */
.myForm {
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-radius: 3px;
  padding: 1em;
  margin: 4em;
}

.myForm input,
.myForm select {
  flex: 6; 
  padding: .5em;
  margin-bottom: 1em;
}
.myFormSubmit {
 padding: 1em; 
  background: rgb(90, 86, 86);
  color: white;
  border: 0;
}
.myForm fieldset {
   border: 0; 
}


body {
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: rgb(18, 90, 88);
  color: rgb(8, 7, 7);
  padding: 50px 0;
}
